{% extends 'DavidWebBundle:Default:index.html.twig' %}
{% block content %}
    <div style="padding-left:50px; padding-bottom:50px; padding-top: 25px;">
        <ul>
            <li>Attending Wentworth Institute of Technology for Computer Networking</li>
            <li>Born May, 1993</li>
            <li>Game of choice is Battlefield 3</li>
            <li>I have a gaming pc, xbox, ps3 and I love my pc more than the other systems</li>
            <li>Sport teams I cheer for United States Mens Soccer, Liverpool F.C, Boston Bruins, New England Patriots, New England Revolutions, Boston Cannons, Boston Red Soxs</li>
        </ul>
    </div>
{% endblock %}